[2019-03-08 21:27] michalczaplinski opened #1 "The user is undefined after a page refresh."
A page refresh logs a user out. This behaviour can be seen in the example linked in the README.

### To reproduce:
Go to https://netlify-gotrue-in-react.netlify.com/

I can log in by providing by the url to my identity service: https://dropclub.netlify.com
- user: mmczaplinski@gmail.com
- password: 1234

After logging in I'm redirected to `/dashboard`. Then, when I refresh the page I am redirected

[2019-03-15 00:42] sw-yx commented on #1
indeed i expect gotrue-js would store it in localstorage. i am wondering if theres some CORS issue here.

[2019-03-15 00:54] sw-yx commented on #1
fixed in https://github.com/sw-yx/react-netlify-identity/releases/tag/0.0.7 i think - please lmk if it doesnt

[2019-03-15 00:54] #1 closed

[2019-04-02 15:26] b-reklass commented on #1
Hey @sw-yx this is fixed on production but doesn't appear to be fixed when testing @ localhost. Would be nice to have this for testing.

[2019-04-08 04:13] sw-yx commented on #1
hey @michalczaplinski and @b-reklass turns out it might be my fault - see this PR https://github.com/sw-yx/react-netlify-identity/pull/2

[2019-04-15 00:51] nelsonchen90 opened #3 "Is it possible to use external OAuth provider?"
Does this React wrapper support external oauth providers like the official library?

[2019-04-15 03:08] danlutz opened #4 "localStorage is not defined when building Gatsby project"
When building an optimized production build of my gatsby app, i get an error saying "WebpackError: ReferenceError: localStorage is not defined".

Could be because of gotrue, but the error is happening when calling the hook. Is there a way to conditionally load it?

Great module btw! :)

[2019-04-15 16:11] sw-yx commented on #4
hey! thanks. not sure about how this works but its gonna be because localStorage is expected to be a global variable i.e. we are executing this in window. so when you used it in gatsby you're probably using it inside Node.js and you need to do a `window===undefined` check or something similar. get what i mean?

[2019-04-15 16:25] sw-yx commented on #3
hey! do you mean https://github.com/netlify/gotrue-js supporting oauth providers? because i dont think it does. or what do you mean official library?

in general, for oauth providers that netlify doesn't support as a first class citizen, you'll have to use a serverless function: https://www.netlify.com/blog/2018/07/30/how-to-setup-serverless-oauth-flows-with-netlify-functions--intercom/

[2019-04-15 16:28] nelsonchen90 commented on #3
@sw-yx Hi! thanks for the reply!
I meant this https://github.com/netlify/netlify-identity-widget . it supports oauth providers like Google/github etc.

[2019-04-15 16:30] danlutz commented on #4
Yes exactly! Problem is, you cannot conditionally call hooks, so we would need to do the ```window !== undefined``` check internally (and return a boilerplate/empty object while its undefined)

Would love to help you with this if you can point me in the right direction :)

[2019-04-15 21:33] sw-yx commented on #4
i see. go into your own node_modules, and try to modify these lines inside `gotrue-js`: https://github.com/netlify/gotrue-js/blob/86ee9894e4514d3fdc83208f3152d8311a6da297/src/user.js#L21-L29 to add the `localStorage !== undefined` check. if that works you can PR it into `gotrue-js` and i will update `react-netlify-identity` as well

[2019-04-15 21:37] sw-yx commented on #3
ahh. yeah it is possible, i just havent coded it yet 😅 we will have to port over this bunch of code: https://github.com/netlify/netlify-identity-widget/blob/ece08ed2a3653adcad87cf3998277362e362da60/src/state/store.js#L99-L119

[2019-04-20 08:47] danlutz commented on #4
I just created a pull request, checking for window to be defined was working when creating a Gatbsy build on my machine 😃

Thanks for the guidance!

https://github.com/netlify/gotrue-js/pull/48

[2019-04-20 23:52] YChebotaev opened #5 "How to confirm email?"
I invited user (myself) from netlify Identity console, and receive email titled "You've been invited to join ..." with "Accept the invite" link within it.

I follow this link and turned up at my-app.com/login page. When I enter my email and empty password I get error: invalid_grant: Email not confirmed

So i'm wondering how do I suppose to confirm email before using?

[2019-04-21 00:01] YChebotaev commented on #5
Should I invoke recoverAccount handle?

[2019-04-21 20:50] sw-yx commented on #5
good question. i probably should document this better but we rely on a hash: https://github.com/sw-yx/react-netlify-identity/blob/48726cb891917b085b942027959a6c67d19d2fa0/src/index.tsx#L78

and the confirmation is automatically done through a React useEffect hook.

dont forget you can see open source working examples in https://netlify-gotrue-in-react.netlify.com/

[2019-04-21 20:50] sw-yx commented on #4
cool.

[2019-04-22 04:26] sw-yx opened #6 "react-netlify-identity-widget"
it would be nice to wrap this light thing into a lightweight modal thing. https://github.com/sw-yx/react-netlify-identity-widget

[2019-04-22 14:40] YChebotaev commented on #5
I'm make change to use `<NetlifyIdentity>` as a component, but it does not help.

Same error: `invalid_grant: Email not confirmed` when trying to login after registration.

[2019-04-22 14:59] YChebotaev commented on #5
See into console:
`Failed to load resource: the server responded with a status of 422 ()`
` Invited users must specify a password
    at ...`

It should definetely have `confirmUser(password: String)` handle.

[2019-04-22 15:45] YChebotaev commented on #5
As a workaround, I create this code:

[code]

Will be happy if this gets merged into `react-netlify-identity` as well.

[2019-04-22 17:43] YChebotaev opened #7 "isLoggedIn always false"
After successfully confirm email with approach described [here](https://github.com/sw-yx/react-netlify-identity/issues/5#issuecomment-485454728), I'm trying to log in.

Then, when I enter email and password and invoke `loginUser` with them, I expect to `isLoggedIn` to be `true`.

But `isLoggedIn` flag always returns `false` for me.

How I can overcome this obstacle?

[2019-04-22 22:01] sw-yx commented on #5
hmm thanks for commenting. i’ll look into this in a couple days

[2019-04-22 22:02] sw-yx commented on #7
something has to be up with your implementation. have you seen how the demo works? how does your implementation defer?

[2019-04-23 00:55] YChebotaev commented on #7
@sw-yx Your demo also not working properly: after page reload I lost all my authentication.

[2019-04-23 07:30] sw-yx commented on #7
yeah thats because i havent updated to use this: https://github.com/sw-yx/react-netlify-identity/pull/2

should be a simple fix.

i'm sorry you're facing so much trouble - as the readme says this is not an official netlify project. even tho i'm a netlify employee i did this in my own time just because i'm a react fan. at this stage in the project's life i need people who can contribute their own b

[2019-04-23 07:31] #4 closed

[2019-04-23 08:18] danlutz commented on #4
Will you release a new version with the bumped gotrue-js dependency? :)

[2019-04-23 19:42] sw-yx commented on #4
yup i commented in the PR: https://github.com/netlify/gotrue-js/pull/48#issuecomment-485678788

[2019-04-23 19:47] sw-yx commented on #4
react-netlify-identity@0.0.10

[2019-04-24 03:36] sw-yx commented on #7
hey @YChebotaev - so it was a simple error - i forgot to set the `remember` flag to true :) https://github.com/sw-yx/react-netlify-identity/commit/a8a8106c9317228848c349487b8626040bc5ebf0

now if you go to https://netlify-gotrue-in-react.netlify.com/dashboard and login and refresh, it persists. sorry for the bad demo. but thanks for reporting the problem.

[2019-04-24 03:36] #7 closed

[2019-04-26 17:51] danlutz commented on #4
Nice, works as expected!

[2019-04-28 22:36] sw-yx commented on #3
cc @nelsonchen90 https://react-netlify-identity-widget.netlify.com/?#

[2019-04-29 21:01] nelsonchen90 commented on #3
@sw-yx thanks for the update!

[2019-04-30 03:47] #3 closed

[2019-04-30 17:39] michalczaplinski commented on #1
@sw-yx Sorry, I went with another solution for auth in the meantime, but I ll definitely use this on another project and let you know how it works. Thanks for the great work ! :)

[2019-04-30 19:33] sw-yx commented on #1
no problem. i made this when i was just learning, but i use this project more intensively now so ive ironed out a few more flaws sicne then.

[2019-05-02 18:37] sw-yx opened #8 "custom claims"
https://auth0.com/docs/scopes/current/custom-claims

[2019-06-09 18:06] danlutz opened #10 "/settings endpoint is pinged in a endless loop"
Hi!

Your plugin is great! It worked very fine until now, but after upgrading to the latest version, I noticed in the chrome network tab that the /settings endpoint is pinged in a endless loop, which causes all components that are subscribed to the context to rerender on every ping.

Did you already notice this problem (and know an easy fix for this)?

You can see it an example on:

https://deploy

[2019-06-09 19:46] jlengstorf commented on #10
I just ran into this as well — it causes an endless render loop for components using `useIdentityContext()` as well. Repro here: https://github.com/jlengstorf/netlify-identity-loop-bug

[2019-06-09 20:11] alexkrolick commented on #10
🕵  Pretty sure the issue is that the API call to get settings always returns a new object and that causes useEffect to infinite loop:

1. https://github.com/sw-yx/react-netlify-identity/blob/2abd831b5139dacde926152839ee966db76586bc/src/index.tsx#L131-L135

2. https://github.com/netlify/gotrue-js/blob/969c2fa5a0a11c2d392b039d70d54ac482bdde31/src/index.js#L47

3. https://github.com/remerge/micro-htt

[2019-06-10 01:50] sw-yx commented on #10
so sorry for this bug guys, indeed i didnt notice it in my limited testing. i’ll try to fix but my confidence is a bit low since i failed to even detect this the first time.

[2019-06-10 02:35] sw-yx commented on #10
i see a little more of whats going on. this issue happens in https://react-netlify-identity.netlify.com/ but not in https://react-netlify-identity-widget.netlify.com/! i was only testing the widget, assuming that if that worked then this underlying lib worked

[2019-06-10 04:02] sw-yx commented on #10
alright i think this is fixed in `0.1.7`. please confirm?

the answer was really a two parter - a typo between `settings` and `_settings` on my end, but also i needed that memo around `useNetlifyIdentity`. https://github.com/sw-yx/react-netlify-identity/commit/e92f779c363e561f6c29b6bfdc8a9ed2e871859e#diff-38682f47b0cf12c516bc3714fc45d0fd

took a while to debug because my testing strategy sucks for

[2019-06-10 04:12] sw-yx commented on #10
here is [my fork of @jlengstorf's thing with the updated thing](https://github.com/sw-yx/plsdelete-netlify-identity-loop-bug) and the infinite loop is gone (jason: i had to add gatsby-ssr which you seemed to have forgotten. i guess this is the plugin we talked about! super busy this week but happy to work this up next week).

[2019-06-10 16:27] jlengstorf commented on #10
@sw-yx the fix works, but uses nested hooks, so we get warnings. I think the `useMemo` call needs to be moved inside the `useNetlifyIdentity` definition and/or it needs to use a non-hook memoization function?

[2019-06-14 03:54] YChebotaev opened #12 "Confirmation not working"
Please, take a look at my app: https://github.com/YChebotaev/gsom-gsom/

[Here](https://github.com/YChebotaev/gsom-gsom/blob/master/src/components/AuthorizationGuard.jsx) I wrote code to handle urls with invite_token. It redirects to confirm page when it see invite_token= in url.

And it is not working.

Please can you disable handling routes in this library?

[2019-06-15 01:31] sw-yx commented on #12
hi! acknowledged but i dont have time to fix this right away - if you'd like to send in a PR to disable handling routes, i'd be happy to accept.

[2019-06-23 23:39] sw-yx commented on #12
i believe this is released in v0.1.8!

[2019-06-23 23:39] #12 closed

[2019-06-23 23:52] sw-yx commented on #10
@jlengstorf sorry it took a while, but i've updated r-n-i to 0.1.8 and r-n-i-w to 0.1.4 (should probably sync their versions or move into monorepo...) with the useMemo moved down... hope that fixes it! it does as far as i can tell here.

[2019-06-23 23:52] #10 closed

[2019-06-29 22:21] jahvi commented on #8
Not sure if this is part of an internal todo but it's the only thing I could find, are custom claims supported in Netlify Identity?

[2019-07-01 02:20] sw-yx commented on #8
they could be supported via [user metadata](https://www.netlify.com/docs/identity/#identity-user-metadata) but i was just stubbing out this issue as an idea for adding some code examples and stuff to make this work. if you'd like to mock up something i'd be open to collaborating, but before you i hadn't really prioritized it or anything. was just an idea.

[2019-07-01 13:08] jahvi commented on #8
I started playing around with it and user metadata works for my use case, the only thing I found in the library is that the [`updateUser`](https://github.com/sw-yx/react-netlify-identity/blob/master/src/index.tsx#L46) function doesn't expect a regular Object as documented but instead it's this format `{ data: { ... } }`.

I spent some time wondering why the user data wasn't getting updated 😄

[2019-07-01 19:21] sw-yx commented on #8
yeah sorry even *i* havent got around to using it and i work here lol

docs PR very very welcome!!!

[2019-07-02 08:40] jahvi commented on #8
No worries it happens 😄

I just submitted a PR #15 let me know if you want me to change anything.

[2019-07-23 12:49] ChristienGuy opened #16 "Issues confirming emails"
As far as I understand it the hook handles email confirmation by default and it appears to be trying to but failing.

From what I can tell `runRoutes` correctly identifies the confirmation route and calls `gotrue.confirm` but somewhere within that call an error occurs.

The error logged is `Error in confirm call JSONHTTPError: Failed to handle signup webhook`.

[2019-07-23 13:43] sw-yx commented on #16
thanks for the report. i've never seen that error before. it must come from lower down the stack. any thoughts on how to repro?

[2019-07-23 14:23] ChristienGuy commented on #16
Cheers for the reply! I managed to track down where this error is getting thrown here: https://github.com/netlify/gotrue/blob/master/api/hooks.go#L137

That said tho, I tried to repro it with a fresh netlify site and I can't seem to reproduce it, so it seems like it's an issue with the specific instance I'm trying to run it against.

I'll try my code against a fresh site later and see if I run int

[2019-07-23 14:34] ChristienGuy commented on #16
It seems to have become resolved on the original site I was having trouble with.

I'm not totally sure what happened there but at least we know it wasn't an issue with this library, and it works so 🙌

[2019-07-23 14:34] #16 closed

[2019-07-23 14:46] sw-yx commented on #16
weiiird

cheers

[2019-07-23 15:09] ChristienGuy commented on #16
I *think* I've discovered the core of the problem! It was very much a *me* problem.

I had a serverless function `identity-signup` that was actually broken and I didn't realise that this function name essentially registers as a webhook (which makes sense when I stop and think about it).

So because that function was broken it was causing identity to break entirely when trying to singup and confirm

[2019-07-23 15:14] sw-yx commented on #16
ah.

btw we recently added https://github.com/netlify/netlify-dev-plugin/pull/213 which helps with local test and development of serverless functions. havent done much publicity or stress testing yet but see if it helps you catch these sooner

[2019-09-10 11:22] ajerni opened #17 "Forgot password? Button not working?"
Unsing "react-netlify-identity-widget": "^0.2.4" with `gatsby-plugin-netlify-identity`it looks like the "Forgot password" button on the IdentityModal is not working.

And second issue is when I "send reset password mail" from within netlify, the mail is received, but the contained link just leads to the hompepage instead of any site where the password could be reset.

Could these two issues be fix

[2019-09-10 11:23] ajerni commented on #17
sorry, this belongs to the react-netlify-identity-widget

[2019-09-10 17:19] #17 closed

[2019-11-03 03:16] meronek commented on #16
I had the same "failed to handle signup webhook" error message suddenly appearing. It was after I had started messing with the identity-signup webhook. I added that function in my app, then deleted it, and that's when I started getting the error. I put the function back and now signupUser works again.

Just throwing this in here in case it helps someone else out.

[2019-11-03 19:09] sw-yx commented on #16
file a new issue if it could be better, im not particularly working on this right now but i’ll take pr’s and repro cases

[2019-11-06 08:25] YashGadle opened #24 "Getting OAuthID and Email Verified flags"
I am using `react-netlify-identity` with google provider to authenticate users. Getting the user data like - `avatar_url`, `name` etc. But I am not able to retrieve the `emailVerified` and `oauthId` fields from netlify redirect response. Only getting some `uuid` in the id field of the user. Is there a way to configure this or is this intended?

[2019-11-28 09:21] QuantumInformation opened #25 "Any plans for a svelte version or would that be something we could help with?"

[2019-11-28 09:31] sw-yx commented on #25
no immediate plans, be my guest!

[2019-11-28 09:48] QuantumInformation commented on #25
Ok, I'll try https://github.com/QuantumInformation/svelte-netlify-identity

[2019-11-28 09:48] #25 closed

[2019-11-28 11:37] sw-yx commented on #25
yea just @ me if u get stuck

[2019-12-02 21:39] QuantumInformation opened #26 "Cannot resolve dependency 'react' when running Reach example"
![image](https://user-images.githubusercontent.com/216566/69997498-32ab3400-154c-11ea-8e6f-965d7df440e7.png)

[2019-12-02 21:59] QuantumInformation commented on #26
Meh, just gonna use the reach router as that seems to be the way things are moving

[2019-12-03 08:50] QuantumInformation commented on #26
Reopened as I get this error when running locally using parcel

 example@1.0.0 start /Users/nikos/WebstormProjects/react-netlify-identity/examples/example-reach-router

Server running at http://localhost:1234
🚨  /Users/nikos/WebstormProjects/react-netlify-identity/examples/example-reach-router/node_modules/@reach/router/es/index.js:12:18: Cannot resolve dependency 'react'
  10 |
  11 | /* eslint-d

[2019-12-04 08:36] sw-yx commented on #26
weird. not sure whats wrong. no time to investigate this at the moment

[2019-12-09 16:56] ljosberinn opened #27 "Usage when developing locally?"
Currently, logging in automatically redirects me to the live netlify site and logs me in there as the redirect is that domain too, naturally. But obviously I'd like to be logged in on localhost.

A localhost URL is invalid, however, which makes sense since locally there's no identity lambda.

Right now I'm copying localstorage from live over to localhost which is annoying and probably not intended

[2019-12-09 17:19] sw-yx commented on #27
not supported right now. since this is a userland library i unfortunately cant do anything about what netlify does to redirect you when you login (it just always assumes you want to be redirected to the deployed url rather than localhost). however i think it still works for email/password auth, the redirect is only required for social provider oauth?

[2019-12-14 19:36] ljosberinn commented on #27
Yep, that works. Understandable, a bit annoying to develop on, but I'll get it done. Thanks!

[2019-12-14 19:36] #27 closed

[2019-12-31 02:28] ljosberinn opened #28 "recoverAccount workflow"
Hi, so I've been tinkering with a reset-password route for a while and found this issue:

- [x] request a password recovery via `requestPasswordRecovery(mail)` -> netlify sends out reset mail
- `runRoutes` triggers and... well, [does nothing](https://github.com/sw-yx/react-netlify-identity/blob/master/src/runRoutes.tsx#L25) - which I guess is fine, just a heads up in the docs would've been nice
-

[2019-12-31 03:09] sw-yx commented on #28
i dont think so. im not sure why i commented out that line in runRoutes. i think there was a PR complaining about this a while back but i dont think i accepted it.

in any case - please feel free to PR what you think should be done - you have clearly done  all the necessary research to fully understand this problem. I’m not currently active on this project right now but could very well come back t

[2019-12-31 12:30] ljosberinn commented on #28
Brainstorming here a little, let me know if this is over the top.

- have `recoverAccount(token)` trigger `_setUser` which performs a login (and also return the userObj to the dev, still)
  - it would then be the developers duty to redirect him to whatever route that allows him to change password based on...
- have `runRoutes` return an obj of shape
[code]
which sets it to a new internal state `pa

[2020-01-01 08:34] jdbence opened #29 "Using with Google Auth"
On Netlify, I have the Google identity enabled and using the default config.
When I attempt to auth using ```loginProvider('google')```, I can see the src does a redirect to the configured url ending in ```"/.netlify/identity/authorize?provider=google"``` The issue is it shows my app and not the Google auth screen. Any ideas what I'm missing?

I'm using a CRA and it looks like it's an issue when u

[2020-01-02 11:49] jdbence commented on #29
In order to get this to work with a CRA, I had to create a custom workbox config and black list urls that start with `/.netlify`. CRA already checks for `/_` so not sure if this lib can change from `.netlify` to `_netlify` or at-least make that configurable.

[code]

[2020-01-02 12:55] ljosberinn commented on #29
I've noticed that behaviour with CRA service worker too but hadn't investigated yet why this happens. Thanks for a temporary solution!

[2020-01-13 21:01] sw-yx commented on #28
this is an interesting approach! i was tempted to suggest returning an array of tokens, but realistically i dont think that is ever going to happen. so i think this works. if you'd like to try a PR, be my guest, if not i'll take a crack whenever i get back to this

[2020-01-13 21:02] sw-yx commented on #29
thanks everyone.. netlify has to use the `/.netlify/` namespace so i dont see that changing at all. whatever else we can do on the client or service worker side, we'll have to do that

[2020-01-16 20:38] #28 closed

[2020-01-16 20:47] ljosberinn commented on #5
@YChebotaev sorry for pinging you. v0.2.0 introduced a `TokenParam` that you can destructure from `useNetlifyIdentity()`.
[code]

It's not quite what you proposed and I'll see whether I can create a wrapper for your logic. I haven't tried inviting users yet, from the looks of it you chose their initial password and not netlify on their end, is this mandatory? Seems to be like that in [gotrue-js do

[2020-01-17 17:45] YChebotaev commented on #5
No. The problem with accepting invite. The lib now simply don't support accepting invites at all — it's just not working.

Just try to use it, and You face the problem, as I were.

[2020-01-18 00:18] ljosberinn commented on #5
[code]

[2020-01-18 07:40] YChebotaev commented on #5
@ljosberinn Cool, thanks!

But I think that pass token via location.state is not good idea. I want more explicit way of getting token.

Well, because my app may rely on history api, it would strange if one library change it. I definetely don't want to use such a lib.

[2020-01-18 10:43] ljosberinn commented on #5
Sorry, I should've been clearer - useHistory comes from react-router!

[code]

[2020-01-18 18:01] #5 closed

[2020-01-18 18:10] YChebotaev commented on #5
@ljosberinn I mean, here: https://github.com/sw-yx/react-netlify-identity/pull/32/commits/0033b604f441e54b65037dfac8c733c9918eee42 You `pushState` to `history`.

And in Your comment this line:
[code]

[2020-01-18 18:54] ljosberinn commented on #5
Oh sorry now I got you. It should probably be `replaceState` too.

We don't really have another way of getting the token, do we? It's a given by Netlify, so all this lib can do is parse it, cleaning the URL and deliver the token to the dev.

Both`replace(path, { token })` or `replace(path + token)` together with useState(location.state?.token)` are implementation detail; it's just an example.

[2020-01-19 15:21] YChebotaev commented on #5
@ljosberinn But why? If I put something useful for My app in state, Your code will replace it. I don't like lib which doing so.

[2020-01-19 20:15] ljosberinn commented on #5
Like, what for example? The only code getting replaced is the `document.location.hash`.

[2020-01-25 11:30] #29 closed

[2020-01-30 15:50] lindskogen commented on #26
I had this issue with parcel and it turned out that I accidentally installed reach router in the parent directory of my project, which led to it being unable to find react from there.

[2020-02-02 13:46] sw-yx commented on #26
oops :)

[2020-02-02 13:46] #26 closed

[2020-02-04 15:31] donaldboulton opened #33 "You Removed core files"
Tried to update to v2.0.6

Now I am getting the below error not only on v2.0.6 but all lower versions to.

Can't resolve './react-netlify-identity-widget.cjs.production.min.js' in 'C:\Users\Donald Boulton\Documents\GitHub\publiuslogic\publiuslogic\node_modules\react-netlify-identity-widget\dist'

File: node_modules\react-netlify-identity-widget\dist\index.js

They do not exist and removed from all

[2020-02-04 15:37] sw-yx commented on #33
can you clarify what package is v2.0.6? nothing we are talking about is even v2. this repo is currently at v0.2.2.

breaking the package is not intentional. at all. but i need your help to figure out what went wrong, please dont get mad and assume ill intent.

[2020-02-04 15:44] donaldboulton commented on #24
react-netlify-identity and this module are not finished and should not be used.
But this is a good example of how to use context with netliy's netlify-identity-widget

[2020-02-04 15:51] donaldboulton commented on #33
Sorry the above is for React Netlify Identity Widget v 2.0.6 and it does not have all the files on a npm install got v2.0.5 to work issue  closed

Apologies I was a little pissed but I tried to install v2.0.6 with npm and yarn and got the above errors.
v2.05 works

[2020-02-04 15:51] #33 closed

[2020-02-04 17:44] sw-yx commented on #33
i made a bad publish, the build broke and those files were not published. should be fixed with https://github.com/sw-yx/react-netlify-identity-widget/releases/tag/v0.2.7

[2020-02-04 17:45] sw-yx commented on #24
i think you probably should be able to get `emailVerified` back. check your network tab in devtools and you can see all the data that comes back from netlify. this library should just reflect whatever the underlying https://github.com/netlify/gotrue-js returns.

[2020-04-08 17:42] levindixon opened #34 "Cookie storage after following confirmation link"
Hi @sw-yx 👋

After a user signs up they receive a link to verify their email, when they click that link they're redirected to the application but it looks like the `gotrue.user` isn't stored.

Not sure if this is expected behavior or a bug, is the user expected to login again after following the email verification link?

Thanks!

[2020-04-10 02:41] sw-yx commented on #34
its probably a bug, i'll take your PR

[2020-04-10 02:41] #34 closed

[2020-04-27 20:48] sw-yx opened #37 "SEEKING MAINTAINERS"
# SEEKING MAINTAINERS

i've [left Netlify](https://www.swyx.io/writing/farewell-netlify/). obviously i still care about netlify but im gonna have other stuff to do and wont be able to give this my full attention. pls open an issue if you use this and want to take over. post your npm username too. i'd love to find a good home for this project.

[2020-05-22 20:43] brielov opened #38 "How to integrate with apollo client?"
I have a simple graphql netlify function and I would like to integrate `react-netlify-identity`. Is there a built in method I can use? Or some other way around?

[2020-07-08 11:42] dorelljames opened #39 "How to implement recover account?"
In my Recover page, I have a function component that takes the user password. This is given that the token is catched from `runRoutes`. I basically followed the implementation recovery action guide from [here](https://github.com/netlify/gotrue-js#confirm-a-new-user-signup).

The thing that I can't figure out is whether `recoverAccount` and `updateUser` is the way to go? Problem is `updateUser` fai

[2020-07-08 11:46] dorelljames opened #40 "How to confirm user newly signed up?"
In [gotrue-js] to confirm a user you have to take the user token and call:

[code]

How do you do this in this library?

[2020-07-08 11:47] dorelljames commented on #37
I've opened some issues. I don't mind spending time to implement and resolve them. Would you be so kind as to let me work on those things? Thanks

[2020-07-08 17:38] mobidev111 opened #41 "security: NPM audit fails due to outdated dependency"
### Current Behavior

currently used version of dependency tsdx fails the npm security audit:
[code]
https://github.com/sw-yx/react-netlify-identity/blob/master/package.json#L56

│ moderate      │ Cross-Site Scripting                                         │
│ Package       │ serialize-javascript                                         │
│ Patched in    │ >=2.1.1

### Expected behavior

no npm au

[2020-07-08 17:45] mobidev111 commented on #41
Same for "yargs-parser"

[2020-07-08 18:39] sw-yx commented on #37
adding!

[2020-07-10 02:28] dorelljames commented on #39
In the meantime, this is how I solved it. It feels hacky though. 😅
To call `updateUser`, you need to login but you can't use `loginUser` as it requires a `password` (old password) which you don't have, so it's `setUser` to the rescue.

[code]

[2020-07-16 09:43] Skagevang commented on #29
navigateFallbackWhitelist with those RegExp will make all subdomains stop working offline. I can't seem to find a solution for making both things work?

[2020-08-16 20:48] elijahsullivan commented on #40
@dorelljames This should happen automatically with this library if you are using the context provider or hook. The `runRoutes.tsx` file parses the URL for a hash matching `confirmation_token` and calls the GoTrue instance's `confirm` method with the token found in the URL.

You can try this in a local development environment by using the `signupUser` function provided by the `useIdentityContext` w

[2020-08-20 01:02] elijahsullivan commented on #38
@brielov I'm not sure you're still in search of an answer to this question, but these resources might help provide some context:

- https://docs.netlify.com/functions/functions-and-identity/
- https://www.apollographql.com/docs/react/networking/authentication/#header

If your Apollo Client is pointing to your `.netlify/functions` GraphQL URI. You can include the logged in user's JWT in the `Author

[2020-09-15 05:19] markfazzio commented on #39
@dorelljames I tried your approach and it did not work for me, I keep getting the "user not found" error. When I log out the user from useIdentityContext it is undefined, so I know that setUser is not working properly. I did not add an await to setUser as it is not a promise. Here is my code:

`if (password !== '' && password === confirmPassword) {
              await recoverAccount(true)

[2020-09-30 03:24] markfazzio opened #42 "Issues with recoverAccount"
When trying to implement `recoverAccount()`, I keep getting the "user not found" error. I did not see many docs on this. The error:

[code]

- I am able to send the reset password email successfully
- I am able to get the token from `useIdentityContext()` and show my `<RecoverAccountModal />` successfully
- Then I call `recoverAccount()` with the updated password and get a successful user response

[2020-09-30 06:55] sw-yx commented on #42
i'm afraid i'm not going to spend much time debugging since i've left Netlify, but @jlengstorf or @shortdiv or @cassidoo may be able to help (and i'm happy to transfer ownership)

[2020-09-30 21:36] markfazzio commented on #42
Thanks for the reply @sw-yx! I would love to contribute if possible, but at the moment I am not sure if it is my implementation or if this is an actual issue. I saw one other issue about this listed, but the fix that worked for that developer is not working for me - in fact the code above was pulled from the issue that @dorelljames posted about this same thing, I just slightly modified it for my u

[2020-10-02 08:56] dorelljames commented on #42
@markfazzio Here's what I did:

I passed in a boolean `true` to `recoverAccount` making it `recoverAccount(true)`. This makes it remember the user as per inspecting the type. Surprisingly, this also sets the user in the context, so you could call `updateUser` and set the password right there. If it helps, [here's a gist](https://gist.github.com/dorelljames/9b64ad3541c92ecb3b9fb4027add322f). Good l

[2020-10-02 09:01] dorelljames commented on #39
Just for anyone who might stumble on this issue and have tried my suggestion, I'd just add it here that the original workaround I used above is no longer the thing I'm using. `recoverAccount(true)` sets the user in `ReactNetlifyIdentityAPI` context after which you could call `updateUser` function passing in the password to update the user's password. If it helps, you might [find this gist](https:/

[2020-10-05 01:42] markfazzio commented on #42
@dorelljames Thank you!!! You saved me bigtime! I was already passing `true` to `recoverAccount(true)` -- but the biggest help was calling it inside `useEffect()` in my **index.tsx** file before opening my `RecoverAccountModal`. Everything is working now! Thank you again!

`const {
    param: { type },
    isLoggedIn,
    recoverAccount
  } = useIdentityContext();

  const isRecoveryMode = type ==

[2020-10-05 02:27] dorelljames commented on #42
Yay! Glad you made it worked @markfazzio. I'll consider submitting a PR updating the README for the benefit of others as well. 😊

[2020-10-05 02:27] #42 closed

[2020-10-09 13:13] dorelljames commented on #39
Closing this. Please refer to solution at issue #42. Thanks

[2020-10-09 13:13] #39 closed

[2020-10-29 22:45] LuigiClaudio opened #43 "Authenticated API not returning a user after a period of inactivity"
Hi, I'm new to this and I've started putting together an app that uses the react-netlify-identity bindings in order to achieve the level of flexibility I wanted for the authentication flow using Netlify Identity.

I've been experiences the following issue:
After a period of inactivity (I guess the one hour the token is valid), and given that remember was left to its default `true`, the user is sho

[2020-10-29 22:46] LuigiClaudio opened #44 "Authenticated API returns no user although being logged in"
Hi, I'm new to this and I've started putting together an app that uses the react-netlify-identity bindings in order to achieve the level of flexibility I wanted for the authentication flow using Netlify Identity.

I've been experiences the following issue:
After a period of inactivity (I guess the one hour the token is valid), and given that remember was left to its default `true`, the user is sho

[2020-11-03 20:53] LuigiClaudio commented on #44
I'm testing this solution at the moment, not sure if there's a way of checking whether the token validity has expired or not other than comparing dates:

[code]

[2020-11-04 20:58] markfazzio commented on #44
I also struggled with this. I created an app a few months ago using the same exact stack you are discussing, with Gatsby on top. What I've found is you need to call `setUser()` with that updated token to update the user, but you also need to update the token expiration time, since this does not come back from the `getFreshJWT()` (I think it should, the entire token object should come back @dorellj

[2020-11-13 10:55] LuigiClaudio commented on #44
@markfazzio I'm not sure about your scenario, sorry for late reply but I wanted to test the solution I posted earlier for a little while.
I'll share what is working for me. I’ve created a react hook that checks for the token and the token validity and returns either a fresh token or logs out the user if the token object is null. In regards with this last check, I’ve come across a scenario in which

[2021-01-30 15:31] #44 closed

[2021-01-30 15:32] LuigiClaudio commented on #43
https://github.com/netlify-labs/react-netlify-identity/issues/44

[2021-01-30 15:32] #43 closed

[2021-06-01 22:10] natatat opened #45 "How to verify an invited user?"
I see this in the documentation:

- `verifyToken()`
  - consumes & verifies TokenParam based on the type and tries to retrieve a valid user object
  - devs duty to show password field to afterwards call `signupUser(user.email, newPassword)`

but can't figure out how to implement this.

when I use

[code]

`token` and `type` are defined as they should be, but calling `verifyToken()` gives me this e

[2021-08-08 08:21] frednomoon commented on #27
@sw-yx this is a bit of an annoying one for me while working on some login / signup side-effects. Do you think it might be possible? Would be happy to work on a PR myself but just wondering if you think its achievable or not

[2021-08-09 04:04] sw-yx commented on #27
like i said there is nothing you can do from "userland" to change how netlify identity works like this,  you'd need to supply a callbackUrl param or similar. you can submit it through Netlify's official channels as a feature request, but fyi its not going to be very high on the priority list

[2021-09-15 23:33] leoriviera commented on #37
Heya!

I don't know whether you're still seeking maintainers. I'd be happy to host it! I have one small npm module up through the org voxasoftworks. Let me know if you're interested!

[2021-10-22 16:30] Progressive-Programmer opened #46 "Unhandled Rejection (TypeError): user.jwt is not a function"
<img width="1440" alt="Screenshot 2021-10-22 at 2 09 07 PM" src="https://user-images.githubusercontent.com/25490780/138490556-b89e2414-87bf-45e2-a645-181914ead09f.png">

[2022-02-05 04:35] javaarchive opened #47 "Request to update to allow React 17"
So npm is upset that the peer dependencies do not specify react 17 and if I download my project it spams a bunch of errors in to the console. Can someone allow version 17 of react in package.json, from what I've read this shouldn't be too much of an issue
https://reactjs.org/blog/2020/10/20/react-v17.html

[2022-05-19 11:36] reyemtm commented on #27
Has anyone found an answer or workaround for this? For the vanilla js widget there is some logic for using on localhost - https://github.com/netlify/netlify-identity-widget/blob/9f30259a8e78b8b9c64a24967575976f7463850f/src/netlify-identity.js#L96
would be great to pull this logic into this react version.

[2022-05-30 20:58] KubukaH opened #48 "'./dist/react-netlify-identity.es.production.js' does not exist, did you mean './dist/react-netlify-identity.cjs.production.min.js'?'"
I am using Windows 10 OS, running a project using parcel@latest and `yarn init -2` and deploying the project to Netlify. My challenge is that I cannot use `react-netlify-identity` library for Identity strategy. The code crashes with the above stated error.

# Code

## package.js
[code]

## index.html
[code]

## tailwind.config.js
[code]

## .postcssrc
[code]

## .parcelrc
[code]

## ContextProvide

[2022-05-31 12:47] Skn0tt commented on #48
Hi! I'd love to look into this. Could you share a reproduction repository with how you set up, and some steps for how to reproduce the error? That'd make it a lot easier for me to find out what's causing this.

[2022-05-31 17:58] KubukaH commented on #48
Hi @Skn0tt , I edited the post in order to add the issues you requested.

Thank you

[2022-06-01 08:02] Skn0tt commented on #48
Thanks for updating! I think you missed some files (e.g. `index.js`) - it might be easier to do this as a Github repository, and link it here.

[2022-06-01 17:27] KubukaH commented on #48
@Skn0tt I have added you as a collaborator to my repo `[kubuka-sub](https://github.com/KubukaH/kubuka-sub)`. If you would want some additional info I am available on email also `kubukahub@gmail.com`.

Thank you

[2022-06-02 11:02] Skn0tt commented on #48
The steps you outlined are working fine for me - I cannot reproduce the error you're seeing locally. I'm not on Windows, though, so that might be a reason.

I see you're using Yarn 2, is there a specific reason for that? Yarn 2 does non-standard things to your module resolution, which might cause the problem you're seeing. Please try using NPM instead, and see if the error persists.

[2022-06-03 15:03] KubukaH commented on #48
I am using Yarn 2 because I work with my code offline most of the time due
to Data Bandwidth issues I am facing. Therefore I use Yarn 2 to be able to
copy new files into a flash drive to my offline work environment, A desktop
computer (if it was a laptop I wouldn't be doing this). Actually before I
migrated to Yarn 2, I was using NPM and everything worked so fine.

But anyway, thank you for lookin

[2022-06-13 08:47] Skn0tt commented on #48
Thanks for elaborating! I think I see the problem, now: `package.json` has a typo in the `module` field. It says `.es.production`, but the buildstep produces `.esm.production` 🤦 I'll open a PR and see how we can get this fixed.

[2022-06-13 13:58] KubukaH commented on #48
Noted with thanks. I can't wait for the fix because I can't proceed to the next step in my development process.

[2022-06-13 15:31] Skn0tt commented on #48
I'm not sure how fast this PR will land, btw - talking to @sw-yx (former maintainer) about how we're publishing a new version

[2022-06-14 14:49] #48 closed

[2022-06-14 15:32] KubukaH commented on #48
Thank you, let me update right away!

[2022-06-14 15:54] KubukaH commented on #48
The error was fixed, however I think the there's another module again which needs to be fixed the same way. Here is the new error.

[code]

If you check, this time it's the `.esm.` vs `.cjs.`.

[2022-06-15 07:41] Skn0tt commented on #48
Could you try 0.2.7? 😅

[2022-06-15 14:37] KubukaH commented on #48
Thank you @Skn0tt problem solved. 🤩

[2022-09-27 09:44] frednomoon commented on #45
in the case of `#invite_token=token` i think you just called `user.signupUser` and it passes the token under the hood

[2022-09-27 09:46] frednomoon commented on #40
this seems now to be broken? im receiving a 422 response when visiting the confirm address.... any ideas?

[code]